* {
    box-sizing: border-box;
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    @if($language == 'arabic') {
        direction: rtl;
        font-family: $font_face,$font_face_bold,$font_face_other,Helvetica, Arial, sans-serif;
    }
    @else {
        font-family: $font_face,$font_face_bold,$font_face_other,Helvetica, Arial, sans-serif;
    }
    background: url("#{$background_path}bg.jpg") repeat-x top;
    height: 100%;
    margin: 0;
    padding: 0;

    &.state-fixed {
        overflow: hidden;
    }
}

a {
    &,
    &:focus,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input {
    border: none;
}

.page-container {
    width: $home_content;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    @include clearfix;
}
@import "../components/overly";
