@font-face {
  font-family: 'BPReplay Regular';
  src: url('../fonts/bpreplay-webfont.eot');
  src: url('../fonts/bpreplay-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bpreplay-webfont.woff') format('woff'), url('../fonts/bpreplay-webfont.ttf') format('truetype'), url('../fonts/bpreplay-webfont.svg#webfontIhiDai48') format('svg');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoKufiArabic-Regular.eot');
  src: url('../fonts/NotoKufiArabic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoKufiArabic-Regular.woff2') format('woff2'), url('../fonts/NotoKufiArabic-Regular.woff') format('woff'), url('../fonts/NotoKufiArabic-Regular.ttf') format('truetype');
}
