@mixin clearfix {
  &:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }
}
@mixin clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin no_webkit_flickering {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
@mixin GPU_acceleration {
  transform: translateZ(0);
}
@mixin clear_link {
  &, &:active, &:focus, &:hover, &:visited {
    text-decoration: none;
  }

  &:hover {
    color: inherit;
  }
}
@mixin icons($icon_name) {
  background-image: url('#{$icons-folder-png}#{$icon_name}.png');
  background-image: linear-gradient(transparent,transparent),url(#{$icons-folder-svg}#{$icon_name}.svg);
  background-repeat: no-repeat;
}
