$direction: 'right'!default;
$reverse_direction: 'left'!default;
$lang: 'ar'!default;
$font_14: 14px;
$home_content: 960px;
$max_phones: 'max-width: 767px';
$max_tablets: 'max-width: 1024px';
$png_icon: 'png';
$svg_icon: 'svg';
$icons_path_svg: '../images/svg/';
$icons_path_png: '../images/png/';
$background_path: '../images/backgrounds/';
$font_face: 'Midan W23';
$font_face_bold: 'Midan W23 Black';
$font_face_other: 'bprelpyregular';
@if($language == 'english') {
    $direction: 'left';
    $reverse_direction: 'right';
    $lang: 'en';
    $font_face: 'bprelpyregular';
    $font_face_bold: 'bprelpyregular';
    $font_face_other: 'Midan W23';
};
